<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- <rosparam configFile="$(find cvnode)/config/config.yaml" /> -->

    <param name="configFile" type="string" value="$(find cvnode)/config/config.yaml" />

    <node pkg = "cvnode" name = "cvnode" output = "screen" type = "cameranode.py" launch-prefix="bash -c 'sleep 20; $0 $@'">
    </node>

</launch>